name: CD Pipeline

on:
  workflow_run:
    workflows: ["CI Pipeline"]
    types:
      - completed

jobs:
  deploy:
    runs-on: self-hosted
    # Only run if the CI pipeline actually succeeded
    if: ${{ github.event.workflow_run.conclusion == 'success' }}

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Deploy to Production Server
        run: |
          # 1. Create a secure private key file from the Secret PEM
          echo "${{ secrets.PROD_KEY }}" > private_key.pem
          chmod 600 private_key.pem

          # 2. SSH into Production Server with robust deployment logic
          # - docker system prune -af: Cleans unused images to free up space (Critical for your 460MB limit)
          # - kubectl set image: Updates the deployment
          # - kubectl rollout status: WAITS for success. Fails the pipeline if the pods crash (No silent failures)
          ssh -o StrictHostKeyChecking=no -i private_key.pem ubuntu@${{ secrets.PROD_IP }} "docker system prune -af && kubectl set image deployment/weather-app weather-ml-app=${{ secrets.DOCKER_USER }}/weather-ml-app:v1 && kubectl rollout status deployment/weather-app"

          # 3. Cleanup: Remove the key file for security
          rm -f private_key.pem
