name: CI Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  build-test-ship:
    runs-on: self-hosted

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Set up Python 3.9
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    # FIXED: Install from requirements.txt to get scikit-learn/pandas
    - name: Install Dependencies
      run: |
        pip install --upgrade pip
        pip install -r requirements.txt

    # FIXED: Added 'tests/' prefix to finding the files
    # We set PYTHONPATH to . so the tests inside the folder can find 'app.py' in the root
    - name: Run Smoke Test
      run: |
        export PYTHONPATH=$PYTHONPATH:.
        python3 -m unittest tests/smoke_test.py

    - name: Run Unit Test
      run: |
        export PYTHONPATH=$PYTHONPATH:.
        python3 -m unittest tests/unit_test.py

    - name: Run Integration Test
      run: |
        export PYTHONPATH=$PYTHONPATH:.
        python3 -m unittest tests/integration_test.py

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USER }}
        password: ${{ secrets.DOCKER_PASS }}

    - name: Build and Push Docker Image
      uses: docker/build-push-action@v5
      with:
        context: .
        push: true
        tags: ${{ secrets.DOCKER_USER }}/weather-ml-app:v1
